In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Ideas
1. Check if hasving missing data is related to not passing the selection process
2. check if different city and available to move have relation with label
3. process vacants and candidates before merging, otherwise we will repeat a lot of operations

## results

**nan values:** 

most people do not have many nans (>60%) in profile_description, title_or_profession, available_to_move, civil_status, has_video, psy_tests.

Vacants have more than 60% missings in the following variables: max_salary, expiration_date, 
experience_and_positions, knowledge_and_skill, titles_and_studies, number_of_quotas

**relational model**

Most candidates apply to several vacants.

Each vacant can be related to many applicants.

**Label**

There are more applicationstage ids (called id) than application ids. This means that one applicant can be in different stages of applying to a vacant which appears as more ids. An applicant could be a postulant, then in 
video interview and finaly a finalist. Applicants that make it to the finalist stage are considered as having
past the test.

**B U T** there are applicants that have and active status and are still in the "Postulante phase", I believe
that these applications are still being reviewed and should be excluded from the training of the model.

There are two types of applicats that will be consideread as **"not passing"**: those with **status == discarded**
and **status == deleted**

There are three types of applicants that will be considered as **passing**: 1. Clients with stage_title **Finalistas**, 2. Clients that have gotten to the **stage_title Video entrevista** AND have status == accepted, clients that have applied for vacants without Video Entrevista (has_video_entrevista==0) and have status == accepted.

The identification of each sample will be done with the application_id, so all intermediate stages of a client will
be discarded, only the final stage shall be kept 

**the column label is 1 for an accpeted candidate, 0 for a rejected candidate and -1 for rows that should be excluded from training**
              
**categorical variables**

# Candidates

In [7]:
candidates_header = ['id','email','first_name','last_name','phone','birthdate','gender','identification_type',
                    'identification_number','country_birth','city','education_level','salary','profile_description',
                    'without_experience','without_studies','title_or_profession','available_to_move',
                     'civil_status','has_video','studies','experiences','psy_tests']

In [8]:
raw_candidates = pd.read_csv('../DataEnviadaInicialmente/Candidates.csv',names=candidates_header)

In [9]:
pd_candidates = raw_candidates.copy()

print("number of users", len(raw_candidates))
print(raw_candidates.dtypes)
print(len(raw_candidates.columns))
raw_candidates.head()

number of users 548364
id                         int64
email                     object
first_name                object
last_name                 object
phone                    float64
birthdate                 object
gender                    object
identification_type      float64
identification_number    float64
country_birth             object
city                      object
education_level           object
salary                   float64
profile_description       object
without_experience          bool
without_studies             bool
title_or_profession       object
available_to_move         object
civil_status              object
has_video                 object
studies                   object
experiences               object
psy_tests                 object
dtype: object
23

,id,email,first_name,last_name,phone,birthdate,gender,identification_type,identification_number,country_birth,...,profile_description,without_experience,without_studies,title_or_profession,available_to_move,civil_status,has_video,studies,experiences,psy_tests
0,6,6.email@gmail.com,SantiLopez,L,3.755545e+09,1996-09-14,NaN,0.0,4.481457e+09,Colombia,...,NaN,False,False,NaN,NaN,NaN,NaN,[],[],[]
1,7,7.email@magnetosystem.com,Simon,Hoyos,3.122798e+09,1989-08-12,NaN,0.0,4.286328e+08,Colombia,...,NaN,False,False,NaN,NaN,NaN,NaN,[],[],[]
2,8,8.email@innventto.com,Sebastian,T,3.413520e+09,1991-11-10,NaN,0.0,6.673576e+09,Colombia,...,NaN,False,False,NaN,NaN,NaN,NaN,[],[],[]
3,1,1.email@gmail.com,SebastianTorres,T,3.452306e+09,1991-11-10,NaN,1.0,7.892609e+09,Colombia,...,NaN,False,False,NaN,NaN,NaN,NaN,[],[],[]
4,9,9.email@innventto.com,Felipe,Ocampo,3.957730e+09,1994-10-25,NaN,1.0,2.050189e+09,Colombia,...,NaN,False,False,NaN,NaN,NaN,NaN,[],[],[]

### Cheking for missing/not reported/nan values

In [10]:
pd_candidates[['studies','experiences','psy_tests']] = pd_candidates[['studies','experiences',
                                                                      'psy_tests']].replace('[]',np.nan)

pd_nan = pd_candidates.isna().sum().reset_index().rename(columns={0:'missing_count'})
pd_nan['missing_percentage'] = pd_nan['missing_count']/ len(raw_candidates)
pd_nan

                    index  missing_count  missing_percentage
0                      id              0            0.000000
1                   email              0            0.000000
2              first_name              9            0.000016
3               last_name             31            0.000057
4                   phone           8096            0.014764
5               birthdate          81329            0.148312
6                  gender          75034            0.136832
7     identification_type          51788            0.094441
8   identification_number          46607            0.084993
9           country_birth          21523            0.039249
10                   city          26230            0.047833
11        education_level          16324            0.029769
12                 salary         190739            0.347833
13    profile_description         386666            0.705127
14     without_experience              0            0.000000
15        without_studies              0            0.000000
16    title_or_profession         517271            0.943299
17      available_to_move         503147            0.917542
18           civil_status         462982            0.844297
19              has_video         462710            0.843801
20                studies         206537            0.376642
21            experiences         220281            0.401706
22              psy_tests         485720            0.885762

In [11]:
# studies, experiences and psy_tests have this string '[]' instead of nans, 
cols = ['country_birth','city','education_level','salary','profile_description',
                    'without_experience','without_studies','title_or_profession','available_to_move',
                     'civil_status','has_video','studies',]
pd_candidates[cols]

,country_birth,city,education_level,salary,profile_description,without_experience,without_studies,title_or_profession,available_to_move,civil_status,has_video,studies
0,Colombia,Medellin,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN
1,Colombia,Medellin,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN
2,Colombia,Cravo Norte,Bachillerato completo,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN
3,Colombia,Puerto Narino,Bachillerato completo,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN
4,Colombia,Medellin,Bachillerato completo,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
548359,Colombia,Bucaramanga,Técnico,877803.0,Soy Técnica en Contabilización de operaciones...,True,False,NaN,NaN,NaN,NaN,"[{""id"":1012030,""institute"":""SENA"",""title"":""Con..."
548360,Colombia,Bogota,Bachillerato completo,900000.0,NaN,False,False,NaN,NaN,NaN,NaN,"[{""id"":740806,""institute"":""Universidad Ecci"",""..."
548361,Colombia,Cartagena,Bachillerato completo,600000.0,NaN,True,False,NaN,NaN,free_union,NaN,"[{""id"":1012028,""institute"":""Institución educat..."
548362,Colombia,Bogota,Bachillerato completo,980000.0,NaN,True,True,NaN,NaN,NaN,NaN,NaN
548363,Colombia,Bogota,Profesional,1500000.0,NaN,False,False,NaN,NaN,NaN,NaN,"[{""id"":844368,""institute"":""Universidad minuto ..."

# Vacants

In [34]:
vacant_header = ['id','title','description','salary_type','min_salary','max_salary','status','created_at',
                    'company','education_level','agree','requirements','publish_date','confidential',
                 'expiration_date','experience_and_positions','knowledge_and_skill','titles_and_studies',
                 'number_of_quotas']

In [35]:
raw_vacants = pd.read_csv('../DataEnviadaInicialmente/Vacants.csv',names=vacant_header)

In [36]:
pd_vacants = raw_vacants.copy()

print("number of users", len(pd_vacants))
print(len(pd_vacants.columns))

print(pd_vacants.dtypes)

pd_vacants.head()

number of users 11693
19
id                            int64
title                        object
description                  object
salary_type                  object
min_salary                    int64
max_salary                  float64
status                        int64
created_at                   object
company                      object
education_level              object
agree                          bool
requirements                 object
publish_date                 object
confidential                   bool
expiration_date              object
experience_and_positions     object
knowledge_and_skill          object
titles_and_studies           object
number_of_quotas            float64
dtype: object

,id,title,description,salary_type,min_salary,max_salary,status,created_at,company,education_level,agree,requirements,publish_date,confidential,expiration_date,experience_and_positions,knowledge_and_skill,titles_and_studies,number_of_quotas
0,1,Desarrollador Ruby on Rails,Estamos buscando un desarrollador Ruby on Rail...,personalized,800000,NaN,2,2017-11-17 03:08:20 UTC,Magneto,NaN,True,NaN,2017-11-17 03:08:20 UTC,False,NaN,NaN,NaN,NaN,NaN
1,2,Desarrollador Ruby on Rails,Estamos buscando un desarrollador Ruby on Rail...,personalized,800000,NaN,1,2017-11-17 21:30:58 UTC,Magneto,NaN,True,NaN,2017-11-17 21:30:58 UTC,False,NaN,NaN,NaN,NaN,NaN
2,3,Vacante 1,descriopcion 1,personalized,800000,NaN,1,2017-11-21 13:45:35 UTC,Magneto,NaN,True,NaN,2017-11-21 13:45:35 UTC,False,NaN,NaN,NaN,NaN,NaN
3,6,Practicantes Millenials CLARO,Procesos de reclutamiento de practicantes de c...,personalized,737717,NaN,0,2017-11-22 12:04:41 UTC,Magneto,NaN,False,NaN,2017-11-22 12:04:41 UTC,False,NaN,NaN,NaN,NaN,NaN
4,7,Practicantes Millenials CLARO clon,Procesos de reclutamiento de practicantes de c...,personalized,800000,NaN,1,2017-11-23 12:00:56 UTC,Magneto,NaN,True,NaN,2017-11-23 12:00:56 UTC,False,NaN,NaN,NaN,NaN,NaN

In [37]:
pd_nan = pd_vacants.isna().sum().reset_index().rename(columns={0:'missing_count'})
pd_nan['missing_percentage'] = pd_nan['missing_count']/ len(pd_vacants)
pd_nan

                       index  missing_count  missing_percentage
0                         id              0            0.000000
1                      title             19            0.001625
2                description            161            0.013769
3                salary_type              0            0.000000
4                 min_salary              0            0.000000
5                 max_salary           8190            0.700419
6                     status              0            0.000000
7                 created_at              0            0.000000
8                    company              0            0.000000
9            education_level           3103            0.265372
10                     agree              0            0.000000
11              requirements           7105            0.607628
12              publish_date             56            0.004789
13              confidential              0            0.000000
14           expiration_date           9326            0.797571
15  experience_and_positions           7216            0.617121
16       knowledge_and_skill           7555            0.646113
17        titles_and_studies           8056            0.688959
18          number_of_quotas           9043            0.773369

# Merge using relational model

In [214]:
applications_header = ['id','vacant_id','candidate_id','created_at','status','discard_type']
applicationstages_header = ['id','application_id','stage_id','created_at','status']
stages_header = ['id','title','send_sms','send_email','send_call','stage_type','vacant_id','stage_order']

In [215]:
applications = pd.read_csv('../DataEnviadaInicialmente/Applications.csv',names=applications_header)
applicationstages = pd.read_csv('../DataEnviadaInicialmente/ApplicationStages.csv',names=applicationstages_header)
stages = pd.read_csv('../DataEnviadaInicialmente/Stages.csv',names=stages_header)

In [216]:
#merge_candidate with vacant through applications
pd_candidates = pd_candidates.rename(columns={'id':'candidate_id'})
pd_candidates_app = pd_candidates.merge(applications,how='right', on='candidate_id')

# lo siguiente implica que cada candidato aplica a varias vacantes
print('merge with applications')
print(len(pd_candidates))
print(len(applications))
print(len(pd_candidates_app))

pd_vacants = pd_vacants.rename(columns={'id':'vacant_id'})
pd_candidates_vac = pd_candidates_app.merge(pd_vacants, how='left', on='vacant_id')

print('merge with vacants')
print(len(pd_candidates_app))
print(len(pd_vacants))
print(len(pd_candidates_vac))

pd_candidates_vac.columns

merge with applications
548364
2120287
2120287
merge with vacants
2120287
11693
2120287

Index(['candidate_id', 'email', 'first_name', 'last_name', 'phone',
       'birthdate', 'gender', 'identification_type', 'identification_number',
       'country_birth', 'city', 'education_level_x', 'salary',
       'profile_description', 'without_experience', 'without_studies',
       'title_or_profession', 'available_to_move', 'civil_status', 'has_video',
       'studies', 'experiences', 'psy_tests', 'id', 'vacant_id',
       'created_at_x', 'status_x', 'discard_type', 'title', 'description',
       'salary_type', 'min_salary', 'max_salary', 'status_y', 'created_at_y',
       'company', 'education_level_y', 'agree', 'requirements', 'publish_date',
       'confidential', 'expiration_date', 'experience_and_positions',
       'knowledge_and_skill', 'titles_and_studies', 'number_of_quotas'],
      dtype='object')

In [217]:
pd_candidates_vac = pd_candidates_vac.rename(columns={'education_level_x':'candidate_education_level', 
                                  'education_level_y':'vacant_education_level',
                                 'status_x':'candidate_status','status_y':'vacant_status',
                                 'created_at_x':'application_created_at','created_at_y':'vacant_created_at'})

pd_candidates_vac.columns

Index(['candidate_id', 'email', 'first_name', 'last_name', 'phone',
       'birthdate', 'gender', 'identification_type', 'identification_number',
       'country_birth', 'city', 'candidate_education_level', 'salary',
       'profile_description', 'without_experience', 'without_studies',
       'title_or_profession', 'available_to_move', 'civil_status', 'has_video',
       'studies', 'experiences', 'psy_tests', 'id', 'vacant_id',
       'application_created_at', 'candidate_status', 'discard_type', 'title',
       'description', 'salary_type', 'min_salary', 'max_salary',
       'vacant_status', 'vacant_created_at', 'company',
       'vacant_education_level', 'agree', 'requirements', 'publish_date',
       'confidential', 'expiration_date', 'experience_and_positions',
       'knowledge_and_skill', 'titles_and_studies', 'number_of_quotas'],
      dtype='object')

In [218]:
# merge applicationstage and stage
stages = stages.rename(columns={'id':'stage_id'})
stagemerge = applicationstages.merge(stages,how='left',on='stage_id')
print('merge with stage')
print(len(stages))
print(len(applicationstages))
print(len(stagemerge))

merge with stage
44470
2604399
2604399

In [219]:
pd_candidates_vac = pd_candidates_vac.rename(columns={'id':'application_id'})
pd_dataset = pd_candidates_vac.merge(stagemerge, how='inner',on='application_id')

pd_dataset = pd_dataset.rename(columns={'title_x':'vacant_title','title_y':'stage_title'})

print('merge with all')
print(len(stagemerge))
print(len(pd_candidates_vac))
print(len(pd_dataset))

pd_nan = pd_dataset.isna().sum().reset_index().rename(columns={0:'missing_count'})
pd_nan['missing_percentage'] = pd_nan['missing_count']/ len(pd_dataset)
pd_nan

merge with all
2604399
2120287
2604399

                        index  missing_count  missing_percentage
0                candidate_id              0            0.000000
1                       email              0            0.000000
2                  first_name             16            0.000006
3                   last_name             67            0.000026
4                       phone          26159            0.010044
5                   birthdate         291898            0.112079
6                      gender         261916            0.100567
7         identification_type         167052            0.064142
8       identification_number         149276            0.057317
9               country_birth          66280            0.025449
10                       city          65893            0.025301
11  candidate_education_level          45741            0.017563
12                     salary         544075            0.208906
13        profile_description        1388926            0.533300
14         without_experience              0            0.000000
15            without_studies              0            0.000000
16        title_or_profession        2281381            0.875972
17          available_to_move        2190162            0.840947
18               civil_status        1884638            0.723636
19                  has_video        1815440            0.697067
20                    studies         572015            0.219634
21                experiences         643461            0.247067
22                  psy_tests        1950026            0.748743
23             application_id              0            0.000000
24                vacant_id_x              0            0.000000
25     application_created_at              0            0.000000
26           candidate_status              0            0.000000
27               discard_type              0            0.000000
28               vacant_title             51            0.000020
29                description           1953            0.000750
30                salary_type              0            0.000000
31                 min_salary              0            0.000000
32                 max_salary        1495990            0.574409
33              vacant_status              0            0.000000
34          vacant_created_at              0            0.000000
35                    company              0            0.000000
36     vacant_education_level         397601            0.152665
37                      agree              0            0.000000
38               requirements        1240539            0.476324
39               publish_date            119            0.000046
40               confidential              0            0.000000
41            expiration_date        2204885            0.846600
42   experience_and_positions        1253984            0.481487
43        knowledge_and_skill        1373800            0.527492
44         titles_and_studies        1587294            0.609467
45           number_of_quotas        1969012            0.756033
46                         id              0            0.000000
47                   stage_id              0            0.000000
48                 created_at              0            0.000000
49                     status              0            0.000000
50                stage_title              0            0.000000
51                   send_sms              0            0.000000
52                 send_email              0            0.000000
53                  send_call              0            0.000000
54                 stage_type              0            0.000000
55                vacant_id_y              0            0.000000
56                stage_order             32            0.000012

In [220]:
# checking if the ids coincide
print(pd_dataset[pd_dataset.vacant_id_x!=pd_dataset.vacant_id_y][['vacant_id_x','vacant_id_y']])
pd_dataset

Empty DataFrame
Columns: [vacant_id_x, vacant_id_y]
Index: []

,candidate_id,email,first_name,last_name,phone,birthdate,gender,identification_type,identification_number,country_birth,...,stage_id,created_at,status,stage_title,send_sms,send_email,send_call,stage_type,vacant_id_y,stage_order
0,6,6.email@gmail.com,SantiLopez,L,3.755545e+09,1996-09-14,NaN,0.0,4.481457e+09,Colombia,...,4,2017-11-17 21:33:35 UTC,accepted,Postulantes a vacante,True,True,True,0,2,1.0
1,6,6.email@gmail.com,SantiLopez,L,3.755545e+09,1996-09-14,NaN,0.0,4.481457e+09,Colombia,...,5,2017-11-24 21:33:56 UTC,accepted,Video Entrevista,True,True,True,1,2,2.0
2,6,6.email@gmail.com,SantiLopez,L,3.755545e+09,1996-09-14,NaN,0.0,4.481457e+09,Colombia,...,6,2019-02-18 18:46:00 UTC,active,Finalistas,False,False,False,2,2,3.0
3,6,6.email@gmail.com,SantiLopez,L,3.755545e+09,1996-09-14,NaN,0.0,4.481457e+09,Colombia,...,22,2017-11-24 16:31:17 UTC,accepted,Postulantes a vacante,False,False,False,0,8,1.0
4,6,6.email@gmail.com,SantiLopez,L,3.755545e+09,1996-09-14,NaN,0.0,4.481457e+09,Colombia,...,23,2017-11-24 16:42:51 UTC,active,Video Entrevista,False,False,False,1,8,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604394,1590514,1590514.email@gmail.com,Yeolsy paola,Rojas Romero,3.016980e+09,2000-12-17,female,0.0,3.966227e+09,Colombia,...,67633,2020-02-12 23:58:47 UTC,discarded,Postulantes,True,True,False,0,19846,1.0
2604395,1339046,1339046.email@gmail.com,Ricardo,Zarate,3.633573e+09,2000-01-01,male,0.0,1.463051e+09,Colombia,...,68873,2020-02-12 23:59:00 UTC,discarded,Postulantes,True,True,True,0,20174,1.0
2604396,1590506,1590506.email@gmail.com,Kevin david,Quintana,3.871021e+09,2001-10-26,male,0.0,9.985984e+09,Colombia,...,64268,2020-02-12 23:59:50 UTC,discarded,Postulantes,False,True,False,0,18923,1.0
2604397,1590552,1590552.email@gmail.com,Astrid carolina,Leiva blanco,3.465604e+09,1996-10-21,female,0.0,8.307801e+09,Colombia,...,66786,2020-02-12 23:59:58 UTC,active,Postulantes,False,False,False,0,19624,1.0
2604398,1454311,1454311.email@hotmail.com,Diana Alejandra,Ríos Hernández,3.392939e+09,1988-12-07,female,0.0,7.097294e+09,Colombia,...,2623,2020-02-12 23:59:59 UTC,active,Prueba Psicométrica,False,True,False,4,815,2.0

In [221]:
pd_dataset[['vacant_title', 'stage_title']]

,vacant_title,stage_title
0,Desarrollador Ruby on Rails,Postulantes a vacante
1,Desarrollador Ruby on Rails,Video Entrevista
2,Desarrollador Ruby on Rails,Finalistas
3,Practicantes Millenials CLARO clon,Postulantes a vacante
4,Practicantes Millenials CLARO clon,Video Entrevista
...,...,...
2604394,RECIBO VILLAVICENCIO,Postulantes
2604395,Auxiliar de archivo,Postulantes
2604396,COLABORADOR DE TIENDA ATLÁNTICO-REGIONAL CARIBE-,Postulantes
2604397,1042 EMPACADORES/SIN EXPERIENCIA/Éxito Country...,Postulantes
2604398,ASESOR COMERCIAL,Prueba Psicométrica

In [222]:
# checking the proportions notice that id has way more

print(len(pd_dataset.application_id.unique()))
print(len(pd_dataset.id.unique()))
print(len(pd_dataset.vacant_id_x.unique()))
print(len(pd_dataset.candidate_id.unique()))
print(len(stages))
print(len(applicationstages))

2120233
2604399
11691
548357
44470
2604399

In [223]:
# as we can see there are several stages for applications
pd_grouped = pd_dataset.groupby('application_id')[['id']].nunique()
pd_grouped

                id
application_id
33               3
34               3
35               3
36               2
37               2
...             ..
3365945          1
3365946          1
3365947          1
3365948          1
3365952          1

[2120233 rows x 1 columns]

### Labelling

In [224]:
# There is a status called status that tells us wheter the client  
# has advanced to another application stage. So let`s take applications with several stages and compare the 
#status stage type and id 
df_try = pd_grouped.reset_index()
app_list = df_try[df_try['id']>1]['application_id'].unique()
pd_dataset[pd_dataset['application_id']==app_list[0]][['candidate_id',
                                                       'status','stage_title','stage_type','stage_order',
                                                       'expiration_date','created_at']]

,candidate_id,status,stage_title,stage_type,stage_order,expiration_date,created_at
0,6,accepted,Postulantes a vacante,0,1.0,NaN,2017-11-17 21:33:35 UTC
1,6,accepted,Video Entrevista,1,2.0,NaN,2017-11-24 21:33:56 UTC
2,6,active,Finalistas,2,3.0,NaN,2019-02-18 18:46:00 UTC

In [225]:
# what about applicants with just 1 status, where they rejected or is the application not closed yet?
# supuestamente status = active significa que todavía está siendo considerado
pd_dataset[pd_dataset['application_id']==3365945][['candidate_id',
                                                       'status','stage_title','stage_type','stage_order',
                                                  'expiration_date','created_at','candidate_status']]

,candidate_id,status,stage_title,stage_type,stage_order,expiration_date,created_at,candidate_status
2558664,1565673,active,Postulantes,0,1.0,NaN,2020-02-12 23:59:38 UTC,active

In [226]:
pd_dataset[pd_dataset['status']=='active'][['candidate_id',
                                                       'status','stage_title','stage_type','stage_order',
                                                  'expiration_date','created_at','candidate_status']]

,candidate_id,status,stage_title,stage_type,stage_order,expiration_date,created_at,candidate_status
2,6,active,Finalistas,2,3.0,NaN,2019-02-18 18:46:00 UTC,active
4,6,active,Video Entrevista,1,2.0,NaN,2017-11-24 16:42:51 UTC,active
6,6,active,Video Entrevista,1,2.0,NaN,2017-11-27 16:12:22 UTC,active
8,6,active,Video Entrevista,1,2.0,NaN,2017-11-27 21:36:21 UTC,active
10,6,active,Atracción digital,1,2.0,NaN,2017-11-29 17:10:29 UTC,active
...,...,...,...,...,...,...,...,...
2604391,1574935,active,Postulantes,0,1.0,NaN,2020-02-12 23:57:29 UTC,active
2604392,1590535,active,Postulantes,0,1.0,NaN,2020-02-12 23:58:06 UTC,active
2604393,1590540,active,Postulantes,0,1.0,NaN,2020-02-12 23:58:31 UTC,active
2604397,1590552,active,Postulantes,0,1.0,NaN,2020-02-12 23:59:58 UTC,active
2604398,1454311,active,Prueba Psicométrica,4,2.0,NaN,2020-02-12 23:59:59 UTC,active

In [227]:
for stage in (pd_dataset.stage_title.unique()):
    print(stage)

Postulantes a vacante
Video Entrevista
Finalistas
Atracción digital
Atracción Digital
Postulantes
otra etapa
Prueba Psicométrica
Campaña de Sensibilizacion
PRUEBAS COMERCIALES
Aptos atracción digital
ENTREVISTA PRESENCIAL
Video entrevista
Pruebas V&A
Citación entrevista
Pruebas
DEG
Invitación Entrevista
Entrega cliente
Pruebas complementarias
ENTREVISTA GRUPAL
Entrevista grupal II
En revision
Recordatorio
Invitación a prueba
Postulantes Ejecutivos Comerciales
Atraccion Digital
Pruebas V&A y PSW
Entrevista Presencial 1
Citados a entrevista grupal
Por citar a entrevista grupal
Postulantes Asesores Comerciales
CONTRATACIÓN SMS
DAVIPLATA
DAVIVIENDA
RECHAZO
RECHAZO BANCOLOMBIA
PAGO EXITOSO
Pruebas complementarias PSW
Bogotá
Citaciones
Prueba de habilidades
Postulantes  Recepcionista
Programación de pruebas
Postulantes Auxiliares  Logísticos y Bodega
Prueba
Documentos
Prueba ensayo
INSCRIPCIÓN PORTAL
Entrevista HR
Assessment Center
Phone Screnning
Citación Prueba Técnica
Candidatos aptos
Invitados a grupal
Invitación presencial
Prueba Técnica
Cita entrevista presencial
Entrevista presencial
Postulantes Servicios Generales
Postulantes Cajeros
Postulantes de Bodega
Prefiltrados
Postulantes operarios de empaque
Aptos para entrevista
Entrevista Presencial
Entrevista Grupal
Entrevista Individual
Preseleccionados
Postulantes auxiliar de archivo
Postulantes Conductores C2
Llamada en Frio
Ensayo pruebas
citacion a entrevista
Entrevista Presencial 14 de junio
Proceso interno
Postulantes Agentes Call Center
Citados
ok citados
Laboratorio  Creativo
Horario 1 - 7:30
Horario 2 - 9:30
Ya citados
Postulantes Practicantes
Entrevista presencial
Citación
Postulantes  Auxiliar contable
Postulantes Asesores Comerciales
entrevista 20 de agosto
Pruebas PDA
Postulantes Digitador
Preseleccionados
Postulantes Jefe de Marca
Postulantes Cajeros - Medellín
TEUCHIS14
Referenciación
Postulantes 20/06/2019
Entrevista presencial 9 de agosto
citacion a entrevista 19 de julio
Aptos Dani
Prueba Psicométrica PSW
No aplican
Prueba V&A y PSW
FINALISTAS
Aptas Auxiliar
Referenciación
Encuesta
Descartados
CONVOCATORIA RAPPI
MSM DPLATA
San mateo
MIgración a SF
EXAMENES
Postulantes confeccionistas
Etapa sin comunicados
Postulantes 1
Contratados
Director Regional
Aptos Auxiliar
Inducción corportiva
Exámenes médicos
ENTREVISTA
REFERENCIACION
INDUCCION CORPORATIVA
Fase 1
Postulantes Auxiliar Logístico
Postulantes Ingeniero Ambiental
Horario 4 - 3:30
Postulantes Ayudantes de Proceso
PRUEBAS..
ELEGIBLE
PRESELECCIONADOS
Postulantes Auxiliar de Cocina
Descartados por prueba de inglés
Preseleccionado
Pruebas PSW
Aptos Atracción Digital
Activación Daviplata
SALITOVA4
Postulantes Soldadores
Miercoles 2 pm
Disponibles
Citación Entrevista
SALITOVA9
SALITOVA10
Citacion a entrevista presencial
Postulantes Operarios
Citación pruebas de EXCEL
Entrevista
Entrevista presencial 28 de Junio de 2019 a las 8 am
Entrevista presencial 4 Junio
Entrevista presencial 31 de Mayo
Video Entrevistas
Invitación Assessment
Citación a entrevista Viernes 27 de Junio a las 9 am
ENTREVISTA 31/07/2019
Entrevista
Entrevista grupal
Preselección de hojas de vida
continuidad proceso
PRUEBAS
Postulantes Ingeniero de Producción
Pruebas Complementarias (V&A - PSW)
Entrega interna
PTC
Examenes Médicos
Correo
Postulantes Auxiliares logísticos
Renotificados
Candidatos valorados
Pre filtrados
Citación Assessment
prueba ensayo
Citados
Inducción Corporativa
Junio 25
Citacion Entrevista Julio 29 de 2019
Prefiltro de Hojas de vida
Masivo 29 Mayo 10:00 am
Candidatos
Laboratorio creativo
Pruebas Psicométricas (V&A-PSW)
OK
citacion 24 de julio 1
ENTREVISTA AGOSTO 8 DE 2019
Citación  Entrevista
Prueba Tecnica
Entrevista individual
Postulantes Auxiliar de Tienda
Entrevista presencial 1
Pruebas
pruebas
EXAMENES MEDICOS
Invitación proceso de selección
entrevista
Analista consultoria
Lider OX LAB
Cumpleaños
Inducción corporativa
Atraccion digital
Envío Omnicanal - Clientes Talenta 365
Atraccion Digital
Junta Directiva - Magneto
Enviados a Nohora
CONVOCATORIA SPRING
SSTA
Vistos
Cristian Hernandez
Inducción
invitacion a entrevista presencial
Citados Miercoles 02
Pruebas complementarias
Citación Martes 2 pm
Prueba psicométrica
Citación Martes 8:30 am
PRUEBAS analista de logistica
Entrevista Presencial
Jueves 8 am
atraccion digitla
Pruebas V&A-PSW
Documentos ONB
Ahora que conoces el caso, por favor presentalo por este medio. Para la sustentación tienen 5 minuto
Citacion a entrevista presencial junio 26
Masivo 29 Mayo  8:00 am
CONTRATACION DANE BOGOTA 4
Pruebas Psicotecnicas
Perfilados
Compartidos
citacion
Cita a formación
Entrevista presencial 3
Aptos en video entrevista
Viernes 2 pm
Pruebas V&G
Citación Entrevista Presencial
ENTREVISTA ADECCO PARA EL AEROPUERTO
Ok Citados
PENDIENTES CITACIÓN
Jueves 2 pm
Sur
Entrevistas
Lunes
Deisy Pinzón
Citación 8am Entrevista Presencial
Citados 10:00 am
edad o ubicacion
En entrevista
Citados 07 de octubre
Citados a entrevista
Referenciación - Inducción Corporativa
Citación a entrevista
Cajas sur.
Citación entrevista presencial
Citación 10am Entrevista Presencial
Pendientes
Cajas Norte.
Citación a entrevista.
Citación 18 de noviembre
Nidia Gil
contratados
Irma Rios
Referenciación e inducción corporativa
Cita a entrevista Presencial
Gestionados
Etapa Edith OK
Ok citados
entrevista 20 de enero
ENTREVISTA 30 DICIEMBRE
Prefiltrados
Citación 2Pm Entrevista Presencial
Cita a entrevista presencial
Auxiliar Oficina - Comercial
Finalistas
SAI ENTREVISTA ADECCO
Masivo
Masivo 1
Edith Leal
Pruebas V&A Grupo Éxito.
Postulantes Bodegueros
Postulantes Operario Logístico
Por Citar a Entrevista grupal
psicosociales o pendientes por validar
Asesor Comercial RQ 18949
Bienvenida
Prueba Psicotécnica
Cita PSW y Prueba Tecnica
Examenes medicos
Potulantes
CONTRATADOS
ATRACCION DIGITAL
Prueba PSW
Horario 3 - 1:30
Assessment GAN
Concurso de redes sociales
Atracción Digital Bogotá
POSTULANTES
Referenciacion
PRUEBAS
PRUEBA PSW
Entrevista presencial 12 junio
Postulantes 3
Postulantes a entrevista 02/07/2019
DAVIPLA NO ACTIVO
Pruebas OK
Entrevista individual Viernes
Entregados a Empresa
GRUPO 1
GRUPO 2
preseleccionados
Pre seleccionados
examen mateo
Seleccionados
Pre-seleccionados
Pruebas V&A
Candidatos preseleccionados
Finalistas Bogotá
Prueba de ingles
SEGUNDA GRUPAL
Prueba complementaria
Pruebas V&A Y PSW
Vídeo entrevista
Para entrevista.
Citados 18 de Noviembre
Agradecimiento
Citación presencia
Grupo Caro
Preguntas
Llamados a pruebas
Assessment
1.1
Entrevista presencial 2
ENTREVISTA PRESENCIAL 9 DE FEBRERO
Campaña de Aplicacion
CAMPAÑA DE APLICACIÓN
CAMPAÑA DE APLICACIÓN G4S
PRUEBAS PSICOMÉTRICAS
RECHAZOS JULIO
NEIVA
ENTREVISTA 09 DE AGOSTO
TEUCHISBEBE2
SALITOVA5
SALITOVA2
SALITOVA15
Citación 2pm Entrevista Presencial
Citacion Entrevista 31 de julio de 2019
Envio Claro Cargue de Objetivos
Citación a entrevista 21 de agosto
Citacion a entrevista presencial Junio 25 Cali
Entrevista presencial 4
CANDIDATOS
PASO DE ETAPA
Citacion
ENTREVISTA PRESENCIAL
ENCUESTA RETIRADOS BPO
Citación a entrevista
Citación Entrevista Videollamada
Contacto y oferta
En Proceso
Citacion a entrevista 24 de julio
Pruebas Psicométricas (V&A)
Citados a Entrevista Grupal
No perfil
Citación Assessment Center
Assessment Center
Postulantes Jefe de Laboratorio de fibras
Entrevista Adecco
Revisados
No usar
Para mostrar
Psicólogos seleccionados Darcio
Prefiltro hojas de vida
Prueba técnica
Medellín
ok
Aptos por Gerente
Prueba técnica
Calificación
Análisis interno
Candi Magneto
TEUCHIS10
SALITOVA16
Puebas de Xpert
CONTRATACION DANE BOGOTA 3
Capacitación
Pruebas V&A - PSW
PRUEBA TÉCNICA
ENTREVISTA CON JEFE DE ÁREA
Citación 7:30am Entrevista Presencial
Citados 2:00 pm
Entrevista presencial 11 de junio
Llamar a pruebas
Prueba de Razonamiento
Aptos pruebas
Entrevista Individual
CONTRATACION DANE BOGOTA 5
Avances del proceso
Examenes Medicos
Candidatos Conocimeinto
pre seleccionado
Citación 10am Entrevista Presencial
Invitación Inicial
Avance de Etapa (SAP)
Citación entrevista 07 de enero
INVITAR CANDIDATOS
Citación 3pm Entrevista Presencial
Postulantes 18 junio
Llamada y Pruebas
Prueba V&A
19 JULIO
Pruebas psicométricas
Exámenes Médicos
Entrevista RH
Entrevista presencial  1
Contratado
Entrevista presencial junio 26 Cali
Cita exámenes médicos
Postulantes Promotora
Entrevista 14 de agosto
Mensaje
encuesta clima BPO
bpo
ec
eclab
Prueba Excel
Aplicación de pruebas
No
Externos
RECORDATORIO APLICACIÓN G4S JEFES
Entrevista Empresa
Entrevista Presencial y Prueba Técnica
Entrevista Final
Dey
Temporda Nelly
Entrevista Grupal
Aux Administrativo
ENTREVISTA JEFE DE ÁREA
MIDOT
BGA, BCA, BYCA, OCÑA
Avance inducción corporativa
Pruebas complementarias (V&A-PSW)
CONTRATACION DANE BOGOTA 2
ingresos bpo
fcgh
Entrevista 07 de enero
Invitación Módulo 1
Citación a entrevistas
Cuestionario
Candidatos seleccionados
Aptos en pruebas
Invitación Semillero
Pruebas Psicotecnias
Entrevista  27 Sept
entrevista presencial 16 de julio
Atracción Digital Abogados
 ENTREVISTA DE TRABAJO PRESENCIAL
Estudio de Seguridad y Exámenes Médicos
ASSESSMENT
PRUEBAS PSICOTECNICAS
SALITOVA13
Pruebas V&A y PSW
entrevista grupal
Gerente de mercadeo
Citación a entrevista presencial
NO ACTIVO
citado
Carta agradecimiento
PSW
Pruebas Base
Prueba de Inglés
Prueba Prefiltro
entrevista presencial
entrevista medellin
Postulantes Telemercadeo
Continuan
CIUDADES
entrevista 27 de junio
Pre seleccionados 2
Cita a exámenes médicos
Cúcuta y Ocaña
Asesoría Personalizada
Grupo 1
Entrevista presencial 6 de Junio
Assesment Center
ok
Postulantes3
Avenida Quinta
Entrevista presencial Operarios produccion Auteco
citación entrevista 25 de julio
Postulantes auxiliar de Ensamble
Entrevista presencial julio 2 Ebanistas
Postulantes Auxiliares Logísticos
Entrevista grupal
VALIDACIÓN
Prueba Aptitudes Administrativas
No revisar
continuidad en el proceso de seleccion
PSW 1
Ya contestaron pruebas
Asistieron a entrevista presencial.
Invitación Assessment Center
Grupal y PT
Pruevas V&A
SALITOVA6
TEUCH5
SALITOVA12
BANCOLOMBIA JULIO
ENTREVIST JULI Y ESTEBAN
Documentación
ITPC
psw
Notificación
CITACION 31/07/2019
postulantes
CITACION A ENTREVISTA
APLICACIÓN CCV COMERCIAL
Gerente General Popayan
Entrevista 27 de enero
Citación 1:30pm Entrevista Presencial
Entrevista a Profundidad
Revisar hojas de vida y atracción
Posibles C. Conocimiento MED
Postulantes Mensajero 18/06/2019
Pruebas psicotécnicas
Complementaria
Citación Martes 17 abril 9:00a.m - 10:30a.m
Corral Norte
Candiatos Juan
Antecedentes
Candidatos Internos
Citación Lunes 23 abril 4:30 p.m.
SALITOVA7
Prueba Midot
Continuidad Proceso "Fase Inscripción Talentum"
FINALISTA PRODESA - TESORERO
Grupal 2.0
BANCOLOMBIA
RECHAZO DAVIVIENDA
SALITOVA3
SALITOVA 5
Prueba tecnica
Invitados grupal 7 am
ENTREVISTA GRUPAL
Invitados grupal 10 am
SALITOVA11
SALITOVA8
Postulantes Junio 17
Citación a entrevista presencial Miércoles 19 a las 1 pm
Grupo 5 - 7:30
Entrevista Santafe 17/08 10am
Analistas Seleccionados Darcio
Entrevista Magneto
Citados 8:00 am
hoja de vida adecco
Entr. Grupal 29/06
Sesión Grupal
Practicantes Net Millenial
Entrevista grupal 2
Pruebas de conocimiento
Laboratorio Creativo
CONTRATADOS
Invitación a registrar perfil
INICIO ENTREVISTA
Entrevista grupal martes 4 de sept
Entrevista individual Miércoles
citacion entrevista 24/07/2019
Postulantes soldador
PQR
Pre-Seleccionados
Invitado grupal 7 AM
Estudio Comportamiento Social
Aptos Atracción
Prueba de Ingles
VP Industrial
citación confirmados
Entrevista 2
Exámenes ocupacionales y estudio de seguridad
Entrevista presencial y prueba técnica
Proceso de Seleccion Claro Colombia
ENTREVISTA JEFE INMEDIATO
Bienvenido al proceso de selección
Aptos pre filtro
adecco pruebas
Prueba complementaria 1 pm
Entrevista (medios virtuales)
Citación ´presencial
DOCUMENTOS
induccion corporativa
Entrevista presencial y prueba técnica.
Entrevista Jueves
Citación presencial
Representante de Ventas
prueba técnica
Cuadro
Introducción
Empresa
Entrevista Presencial Ragged Junio 21
CITADOS 29 NOV
GRUPAL 2
PRUEBA TECNICA
PERSONAL EN MISION
Gerente Cali
SAITOVA15
Pruebas FP
Citados entrevista presencial
PROFESIONAL SENIOR 3 ASUNTOS LEGALES
Candidatos Marble
Apto por Gerente
Prueba complementaria
Cali
Citados a entrevista cali
ENTREVISTA ADECCO AGENTE TELEFONICO PROFESIONAL
Citación
Conocimiento de la Compañía
Candidatos Consultor Proyecto BOG
Citación a  Entrevista Presencial
Realización de pruebas
Pendientes Entrevista
Citación a entrevista 17 de julio
Candidatos Tostao Orientadores
Entrevista Interna
No ha ido a entrevista
Gerente Barranquilla
Pruebas complementarias (V&A - PSW)
ENTREVISTA PERSONAL
Realización de prueba Psicotécnica
invitacion examen y firma contrato
Gerente Bogota
Entrevista presencial 25 junio Velez
Atracción digital
CANCELAR CITACIÓN
Entrevista Personalizada
PRUEBAS V&A
Pruebas psicotécnicas
Vinieron a Entrevista.
Ya se habían descartado
Entrevista presencial y Prueba Técnica
Grupo 6 - 9:30
Gracias por su participación
Contacto Oferta
Citados Colombia
practicantes Ing.sistemas, electrónica afines.
Videos Naty
Citación Líder
NO Citados Viernes 11/10/19
Citados viernes 11 4pm
Segunda entrevista
En evaluación
Completos
Preseleccionados Boyacá
aptos pruebas
CITADOS 5DIC
Entrega al cliente
Dinámica Grupal
Entrevista presencial julio 11
citación entrevista 26 de junio
Invitación Assessment Center
Prueba ITPC
Planes compensación
Finalistas PDV
Entr, grup 12/07
Citación a entrevista presencial
Masivo 29  Mayo 2:00 Pm
Ya fue a entrevista
Internos
Cita Pruebas Psicometricas
Pruebas Psicotécnicas (V&A)
Entrevista presencial grupo 1
Ingresos nuevos - Independientes
Recordatorio Pago - Independientes
entrevista 14 de agosto 2
Entrevista personal
Firma Documentos
V&A
ENVIADOS A JEFE
ANTECEDENTES
Entrevista grupal 5 de sept
v&a
invitacion a entrevista
citación a entrevista
Inducción Corporativa - Referenciacion
Citación dinámica grupal Arequipa
Grupo 2
Entrevista OK
Entrevista presencial y firma de documentos
prueba tecnica
Entrevista con Jefe inmediatp
Inducción corporativa
Invitación proceso de Selección
Videos Cami
Nidia Gil.
mensaje informativo pruebas
Entrevista 11/9/2019
BIENVENIDOS
Atracción Digital Customizada
Cita One Plaza
Invitación proceso
Mensaje informativo pruebas
Conocimiento de la compañía
Entrevista grupal miércoles 5 de sept
 Entrevista Presencial
ENTREVISTA PRESENCIA BUCARAMANGA
SUPERVISOR DISTRIBUCIÓN HORIZONTAL Y RECARGAS
Prueba Complementaria
Atracción digital ciudades
Prueba ingles
Invitación proceso
Dinámica y entrevista Individual
Dinámica Grupal (2)
Entrevista con Jefe
Invitación a entrevista
EDM
Entrevista presencial grupo 2
Presentaron Prueba Técnica
Candidatos descartados
Contratados
Dinamica Grupal
Citación Dinamica Grupal - Grupo Jueves
Presentados al comercial
Psw
Fin día 1
Check List de elementos
Ingresos nuevos - CARIS
Entrevista Jueves 01 de Agosto
Entrevista 26 sept
PENDIENTE
Entrevista Líder
campus adecco
Aprobados por Pablo
Presentados a la empresa
Etapa adicional
Marketing
Grupal
Etapa
Prueba Técnica
Actualización Referidos y Citaciones
Comercial BD
Referenciación- Inducción corporativa
Ivonne Burgos
Citación Entrevista 18/Junio/2019
CITADOS 5DIC 2
Entrevista grupal I
Invitación Assessment
Citación ejercicio 3PM
Citar
Citacion entrevista
Ya citados
Entrevista interna
Citación exámenes
Martes 16/07/2019 08:10 a. m.
Pasar a CAV
Postulados
Citados viernes
Pruebas PSW
Entrega Interna
Evaluado
Recordatorio pruebas
Pruebas PDA
Filtro empresarial
Assessment center
FINALISTAS
ENTREVISTA
finalistas
contratados
Tunja
pruebas
Proceso de selección
Citación 2pm Entrevista Presencial
Prefiltro hojas de vida - alianza hábitos
Prubas
Bucaramanga
2019-2
Alistamiento de documentos
Postulantes C2 18/Junio/2019
Seleccionados aprendiz Sena
ENTREVISTA 12 DE FEBRERO
Citación Presencial
Finalista
ENTREVISTA 20 DE ENERO
Preselección HV
CONTRATADO
Entrevista 19/9/2019
Exámenes Médicos y Estudio de Seguridad
Prueba ok
Citación a entrevista presencial Martes 09 de Julio a las 8 am
vídeo entrevista
Citación entrevista grupal
PRUEBA TECNICA
ENTREVISTA GRUPAL Y PRUEBA TECNICA
eliminar
Ok Encuesta
Aptos en Prueba VYA
PROCESO DE SELECCIÓN
CITADOS 2
Entrevista presencial julio 2
entrevista individual
Pre Finalistas
continúa caso de estudio
Prueba de inglés
Entrevista presencial 11 de Junio de 2019 - 4 pm
sdfgdgdf
ASsASa
APLICACIÓN EVALUACIÓN DE DESEMPEÑO SIMEX
RECORDATORIO EVALUACIÓN DE DESEMPEÑO SIMEX
Revisión Hiring Manager
CITADOS 10DIC
Correo Documentos
Entrevista Gerencia
Entrevista Dirección
Pruebas ITPC
practicantes diseño gráfico, publicidad y afines.
Citación Viernes Colombia
Entrevista a profundidad
Viernes 12/07/2019 08:30 a. m.
Cita a entrevista 1
Vacante noraml
CONTRATACION
Lunes 15/07/2019 07:30 a. m.
Jueves 11/07/2019 02:10 p. m.
Prueba PTC
Revisión HV con el Líder
Pruebas V&A- PSW
Prueba Tecnica
CITA ENTREVISTA PRESENCIAL
Grupal 1
Entrevista jefe de área
Grupo 3
Citación a Entrevista 19/06/2019
Entrevista jefe inmediato
Citados entrevista
Finalistas proceso Vendedor AU Cuentas Claves
Entrevista presencial 17 de Junio * 4pm
Consultor económico
Citación Assessment Center
Leños y Carbón
Entrevista Gestión Humana
Citación ejercicio 10am
Contratación
Citados a Entrevista
Back Up
Postulantes 02 07 2019
Aplicación Pruebas V&A
Nitificacion Actualizacion Perfil Magneto
entrevista cliente
PRUEBA TECNICA 1
Citación Entrevista Grupal
para citar
Pruebas de Xpert
Invitación a Assessment Center
Enviar a Eli
RECORDATORIO APLICACIÓN ATEMPI
APLICACIÓN ATEMPI-PSW Operativos
RECORDATORIO ATEMPI PSW
RECORDATORIO EVALUACIÓN DE POTENCIAL ATEMPI 2
Citar entrevista individual
Assessment
Practicantes Comcel
Evaluación Presencial
CITADOS A ENTREVISTA
Pruebas Psicotécnicas
Entrevista Oscar Falla
Entrevista Jorge Ortiz
2020-1
Etapa Preselección
Citación entrevista
EXÁMENES MÉDICOS
PRUEBAS PSICOTÉCNICAS
Citación entrevista Grupal
ENTREVISTA 09 DE ENERO
Postulantes Auxiliar de Mensajería
CITACIÓN A ENTREVISTA
Pref
Candidatos para presentar al cliente
Cita a Exámenes Médicos
Siguiente etapa
Referenciacón
ANTECEDENTES
Practicantes Fondo Futuro
Finalistas Fondo Futuro
Preselecionados
referenciacion
Entrevista técnica
Comité Administrativo
Estudios de Seguridad
Entrevista presencial y Prueba
VALIDACIÓN DE CANDIDATOS
COMERCIAL MULTICANAL RQ-229077
Citación entrevista individual
Cita a Formación
Valoración hojas de vida
Entrevista Gerente R & D
Miércoles 17/07/2019 08:10 a. m.
Entrevista Lider
APLICACIÓN ATEMPI-PSW Tácticos
APLICACIÓN ATEMPI-PSW Estratégicos
APLICACIÓN VALORACIÓN DE POTENCIAL SIMEX ANALISTAS
VALORACIÓN DE POTENCIAL SIMEX COORDINADORES
APLICACIÓN VALORACIÓN DE POTENCIAL SIMEX
EVALUACIÓN ANÁLISIS DE DESARROLLO PERSONAL G4S
Prueba A&T CHILE
Seleccionado
PASOS PARA REALIZAR VALORACIÓN DE DESEMPEÑO
ASESOR COMERCIAL NEIVA
Asesoras comerciales- punto de venta
1.2
Personal Interno
Grupo 7 - 1:30
Pruebas V&A & PSW
Citación a entrevista 20/06/2019
Contratados Bienvenida
Exámenes Médicos
Confirmados entrevista
Prueba de conocimientos 2
Prueba psicotécnica
Natalia Gallo
Irma Ríos.
Pruebas Psicotecnicas
 3405 Auxiliar Administrativo Salud Ocupacional
Cita a prueba técnica
Inicio Assessment
Entrevista Presidencial.
PRESELECCIONADA
citación prueba excel practicante
Practicantes de administración de empresas
 pregunta certificado de cocina
Consulta TRUORA
VALIDACION
Antecedentes
retroceso
Entrevista Grupal segundo grupo
Prueba PSW y VyA
Proceso OK
Practicantes de Derecho
Citación entrevista Jefe departamento
Prueba de conocimientos
Pruebas complementarias V&A - PSW
CITADOS 11DIC
prueba técnica salvavidas
Exámenes Ocupacionales y Estudio
Prefiltro hojas de vida - alianza culturales
estudio de seguridad y examenes medicos
Referenciacion
Entrevistas Individual
CItación Dinamica Grupal - Grupo Martes
Pruebas Psicometricas
Prueba DEG
Refrenciación- inducción corporativa
Videos Lauri
Estudio de seguridad y exámenes médicos
video entrevista
Oferta Laboral
Certificado de Buena Conducta
Entrevista y Evaluaciones Presenciales
Ing. Industrial
REFERENCIACION- INDUCCION CORPORATIVA

In [228]:
# building the label
pd_dataset['label'] = -1
pd_dataset.loc[pd_dataset.stage_title=='Finalista','label'] = 1 
pd_dataset.loc[(pd_dataset.status=='discarded') | (pd_dataset.status=='deleted'),'label'] = 0

# label as has_video_entrevista to check wheter the applicant passed to finalista or is merely in atracion digital
pd_dataset['has_video_entrevista'] = 0
pd_dataset.loc[pd_dataset.stage_title=='Video Entrevista','has_video_entrevista'] = 1

# if vacant does have attraccion digital, then the status has to be 'accespted' to be considered as 
# having passed
pd_dataset.loc[(pd_dataset.has_video_entrevista==1) & (pd_dataset.status=='accepted'),'label'] = 1

# if the vacant has no attraccion digital stage and has passed postulantes then it is considered as having passed
pd_dataset.loc[(pd_dataset.has_video_entrevista==0) & (pd_dataset.status=='accepted')
               & (pd_dataset.stage_title=='Postulantes'),'label'] = 1


pd_dataset.label.value_counts()

-1    1884449
 0     516731
 1     203219
Name: label, dtype: int64

In [246]:
# checking if we excluded the intermediate stages correctly
df_exclude = pd_dataset[pd_dataset['label']>=0].copy()
pd_grouped = df_exclude.groupby('application_id')[['id']].nunique()
pd_grouped[pd_grouped['id']>1]

                id
application_id
40               2
54               2
259              2
260              2
262              2
...             ..
3365682          2
3365728          2
3365730          2
3365774          2
3365841          2

[113430 rows x 1 columns]

In [259]:
df_exclude = df_exclude.sort_values(by='stage_order', ascending=False).copy()
df_try = df_exclude.drop_duplicates(subset=['application_id'], keep='first')
pd_grouped = df_try.groupby('application_id')[['id']].nunique()
pd_grouped[pd_grouped['id']>1]

Empty DataFrame
Columns: [id]
Index: []

# Relation with label

In [261]:
pd_exploration = pd_dataset[pd_dataset['label']>=0].copy()
pd_exploration = pd_exploration.sort_values(by='stage_order', ascending=False).copy()
pd_exploration = pd_exploration.drop_duplicates(subset=['application_id'], keep='first')
pd_exploration = pd_exploration.drop('vacant_id_y',axis=1)
pd_exploration = pd_exploration.rename(columns={'vacant_id_x':'vacant_id'})


for col in pd_exploration.columns:
    print(col)

candidate_id
email
first_name
last_name
phone
birthdate
gender
identification_type
identification_number
country_birth
city
candidate_education_level
salary
profile_description
without_experience
without_studies
title_or_profession
available_to_move
civil_status
has_video
studies
experiences
psy_tests
application_id
vacant_id
application_created_at
candidate_status
discard_type
vacant_title
description
salary_type
min_salary
max_salary
vacant_status
vacant_created_at
company
vacant_education_level
agree
requirements
publish_date
confidential
expiration_date
experience_and_positions
knowledge_and_skill
titles_and_studies
number_of_quotas
id
stage_id
created_at
status
stage_title
send_sms
send_email
send_call
stage_type
stage_order
label
has_video_entrevista

### identification columns

In [14]:
id_cols = ['candidate_id','email','first_name','last_name','phone','identification_type',
           'identification_number','application_id','vacant_id','company','id','stage_id','stage_title']

### categorical variables

In [15]:
cat_features = ['gender','country_birth','city','education_level','without_experience','without_studies',
               'title_or_profesion','available_to_move','civil_status','has_video']

### numerical variables

In [ ]:
num_features = ['salary']

### date variables

### dictionary variables

### Text variables